body {
  text-align: center;
}

#gamecontainer {
  position: relative;
  display: inline-block;
  width: 800px;
  height: 600px;
  margin: auto;
}

canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 600px;
}
